@font-face {
   font-family: 'Alimama_ShuHeiTi_Bold';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-05_102513/fonts/Alimama_ShuHeiTi_Bold/font.ttf');
}
