@font-face {
   font-family: 'Alimama_ShuHeiTi_Bold';
   font-display: swap;
   src: url('Alimama_ShuHeiTi_Bold/font.ttf');
}
@font-face {
   font-family: 'Alibaba_PuHuiTi_2.0_55_Regular_55_Regular';
   font-display: swap;
   src: url('Alibaba_PuHuiTi_2.0_55_Regular_55_Regular/font.ttf');
}
